:root {
  background: #fffff6;
  color: black;
}
.App {
  text-align: left;
  padding: 1vmin;
  max-width: 1200px;
  margin: auto;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 0.5vmin);
  color: black;
}

a[href] {
  color: #005d78;
}

em {
  color: #404040;
  font-style: normal;
}

input,
select,
button,
a {
  cursor: pointer;
}

input:disabled,
select:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
